
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #f3f3f3;
  color: #646464;
}

.header {
  padding: 10px 40px;
  position: fixed;
  width: 680px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}

.header h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header h2 span:first-child {
  flex: 1;
}