/*
.snackbar {
    display: none;
    min-width: 350px;
    margin-left: -125px; 
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 2px;
    padding: 16px; 
    position: fixed; 
    z-index: 10000; 
    left: 50%; 
    bottom: 30px; 
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.snackbar_danger {
  color: #d9534f;
}

.snackbar_success {
  color: #5cb85c;
}

.snackbar_warning {
  color: #f0ad4e;
}
*/